@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
background-image: linear-gradient(to right, #CEF7A0,#F7C1BB);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(126, 152, 97, 0.505) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#EC0B43;
    text-align: center;
    text-shadow:1px 1px 2px rgba(114, 5, 32, 0.785);
}
h2{
  color: #220637;
}
p{
    text-align: justify;
}